<% if (currentPlaylist) { %>
<section id="playlist-display">
  <container id="playlist-info">
    <object data="<%= currentPlaylist.images[1].url %>" alt="" loading="lazy" type="image/jpg"></object>
    <div>
      <h1><%= currentPlaylist.name %></h1>
      <a href="<%= currentPlaylist.external_urls.spotify %>" rel=”noreferrer noopener“ target="_blank">Link to playlist</a>
    </div>
  </container>
  <% if (currentPlaylist.tracks.items.length > 0) { %>
    <container id="playlist-tracks" class="track-list">
      <header>
        <span>#</span>
        <span>Title & Artist</span>
      </header>
      <section id="playlist-table">
        <%
          for ([i, item] of currentPlaylist.tracks.items.entries()) {
          const artists = item.track.artists.map(item => item.name);
        %>
          <div><%= i + 1 %></div>
          <article class="track-info">
            <object data="<%= item.track.album.images[2].url %>" alt="" loading="lazy" type="image/jpg"></object>
            <p>
              <span><%= item.track.name %></span>
              <span><%= artists.join(", ") %></span>
            </p>

          </article>
        <% } %>
      </section>
    </container>
    </section>
  <% } %>
<% } %>
