<% if (currentPlaylist) { %>
<section id="playlist-display">
  <container id="playlist-info">
    <img src="<%= currentPlaylist.images[1].url %>" alt="Playlist Cover Image">
    <div>
      <h1><%= currentPlaylist.name %></h1>
      <a href="<%= currentPlaylist.external_urls.spotify %>" target="_blank">Link to playlist</a>
    </div>
  </container>
  <% if (currentPlaylist.tracks.items.length > 0) { %>
    <container id="playlist-tracks" class="track-list">
      <header>
        <div>#</div>
        <div>Title & Artist</div>
      </header>
      <div id="playlist-table">
        <%
          for ([i, item] of currentPlaylist.tracks.items.entries()) {
          const artists = item.track.artists.map(item => item.name);
        %>
          <div><%= i + 1 %></div>
          <div class="track-info">
            <img src="<%= item.track.album.images[2].url %>" alt="">
            <div>
              <span><%= item.track.name %></span>
              <span><%= artists.join(", ") %></span>
            </div>
          </div>
        <% } %>
      </div>
    </container>
    </section>
  <% } %>
<% } %>
